In [1]:
import pandas as pd
import numpy as np
import math
import statistics as st
from datetime import timedelta

In [2]:
df = pd.read_excel("../datasets/indian_stock_indices/Stock_Indices.xlsx")

In [3]:
df.head()

        Date    SENSEX  NIFTY50  NIFTY_CONSUMPTION
0 2014-01-01  21140.48  6323.80        2590.000000
1 2014-01-02  20888.33  6301.25        2544.649902
2 2014-01-03  20851.33  6194.55        2546.949951
3 2014-01-06  20787.30  6220.85        2544.649902
4 2014-01-07  20693.24  6203.90        2543.399902

In [5]:
len(df)

2469

In [4]:
train_size = 1728 # Training data of 7 years (01-01-2014 to 31-12-2020)
test_size = 741 # Testing data of 3 years (01-01-2021 to 31-12-2023)

In [ ]:
N = train_size

i = 0
j = 30

while j < N:
    for k in range(i, j, 1):